*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../stars.jpg');
}
.main {
    width: 100%;
    height: 100vh;
}
.overlay {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
}
.title {
    margin-top: 10px;
    color: aliceblue;
    text-align: center;
    font-size: 2.5rem;
}
.col {
    margin-top: 10px;
    width: 1000px;
    display: flex;
    justify-content: center ;
    text-align: center;
    color: white;
}
.col div {
    width: 250px;
    text-align: center;
}
input {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}